body {
  background-color:gray ;
}

article.accordion
{

height:auto;
background-color: gray;
overflow:hidden;
}
article.accordion section
{
position:sticky;
float:left;
width: 2em;
height: 15em;
overflow:hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


article.accordion section h2
{
position: absolute;
font-size:small;
font-weight: bold;
width: 12em;
top: 12em;
left: 0;
text-indent: 1em;
-webkit-transform-origin: 0 0;
-moz-transform-origin: 0 0;
-ms-transform-origin: 0 0;
-o-transform-origin: 0 0;
transform-origin: 0 0;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg);
}
article.accordion section h2 a
{

width: 100%;
line-height: 2em;
text-decoration: none;
color: rgb(0, 0, 0);
outline: 0 none;
}
article.accordion section:target
{
width: auto;
height: auto;
color: darkslategray;

}
article.accordion section:target h2
{
position: static;
font-size: 1.0em;
text-indent: 0;
color: #333;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
}
article.accordion section,
article.accordion section h2
{
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}