body {
  background-color: #dcdcdc; /* Lighter background for readability */
}

/* Accordion Header Styling */
.accordion-header {
  background-color: #f39c12;
  color: white;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #e67e22;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.accordion-header:hover {
  background-color: #e67e22;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Active Accordion */
.accordion-item.active .accordion-header {
  background-color: #d35400;
}

/* Accordion Content */
.accordion-content {
  padding: 15px;
  border: 1px solid #d35400;
  background-color: #f8f9fa;
  border-radius: 5px; /* For rounded corners */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.accordion-item.active .accordion-content {
  max-height: 500px; /* Adjust for content height */
}

/* Improved sticky sidebar */
article.accordion section {
  width: 3em;
  height: auto;
}

article.accordion section h2 {
  font-size: 1.5em;
}
